<div class="panel-body">
	<div class="alert alert-warning" role="alert">
		<div class="pull-left">
			<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		</div>
		<div class="clearfix">
			<span class="col-sm-11">Please complete the table bellow</span>
		</div>
	</div>
	
	<h3>
		Immediate Corrective action(s)
		<span class="small">({{ctrl.remaining()}} of {{ctrl.maxActions}} available)</span>
	</h3>
	<div class="row">
		<form novalidate name="actionForm" class="col-lg-12">
			<table class="table">
				<tr>
					<th>#</th>
					<th class="col-lg-4">Description of Corrective Action&nbsp;*</th>
					<th class="col-lg-3">Action Taken By (name)&nbsp;*</th>
					<th class="col-lg-2">Company *</th>
					<th class="col-lg-2">Date</th>
					<th>&nbsp</th>
				</tr>
				<tr ng-repeat="action in ctrl.actions">	
					<th>{{($index+1)}}</th>			
					<td ng-class="ctrl.getValidClass('description', $index)" >
						<input type="text" class="form-control" name="description_{{$index}}"							   
							   ng-model="action.description" required/>
					</td>
					<td ng-class="ctrl.getValidClass('takenBy', $index)">
						<input type="text" class="form-control" name="takenBy_{{$index}}" 							   
							   ng-model="action.takenBy" required/>
					</td>
					<td ng-class="ctrl.getValidClass('company', $index)">
						<select class="form-control" name="company_{{$index}}"
								ng-options="company for company in ctrl.companies"
							    ng-model="action.company"
							    required>
							<option value="">-- select --</option>
						</select>
					</td>
					<td ng-class="ctrl.getValidClass('date', $index)">
						<input type="text" class="form-control" name="date_{{$index}}" required				   
							   ng-model="action.date" dt-picker="ctrl.dtOptions"/>
					</td>
					<td>
						<button class="btn btn-default"
								ng-disabled="ctrl.isRemoveDenied()"
								ng-click="ctrl.removeAction($index)">
							<span class="glyphicon glyphicon-remove" aria-label="Delete" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-default"
								ng-disabled="ctrl.isNewDenied()" 
								ng-click="ctrl.newAction()">
							<span class="glyphicon glyphicon-plus" aria-label="add" aria-hidden="true"></span>
						</button>
					</td>
					<td colspan="5">&nbsp;</td>
				</tr>
			</table>		
		</form>	
	</div>
</div>